# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
target/jacoco.exec
target/spring-boot-demo-0.0.1-SNAPSHOT.jar.original
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/site/dependencies.html
target/site/dependency-info.html
target/site/dependency-management.html
target/site/index.html
target/site/licenses.html
target/site/plugin-management.html
target/site/plugins.html
target/site/project-info.html
target/site/scm.html
target/site/summary.html
target/site/team.html
target/site/css/maven-base.css
target/site/css/maven-theme.css
target/site/css/print.css
target/site/css/site.css
target/site/images/close.gif
target/site/images/collapsed.gif
target/site/images/expanded.gif
target/site/images/external.png
target/site/images/icon_error_sml.gif
target/site/images/icon_info_sml.gif
target/site/images/icon_success_sml.gif
target/site/images/icon_warning_sml.gif
target/site/images/newwindow.png
target/site/images/logos/build-by-maven-black.png
target/site/images/logos/build-by-maven-white.png
target/site/images/logos/maven-feather.png
target/site/jacoco/index.html
target/site/jacoco/jacoco-sessions.html
target/site/jacoco/jacoco.csv
target/site/jacoco/jacoco.xml
target/site/jacoco/jacoco-resources/branchfc.gif
target/site/jacoco/jacoco-resources/branchnc.gif
target/site/jacoco/jacoco-resources/branchpc.gif
target/site/jacoco/jacoco-resources/bundle.gif
target/site/jacoco/jacoco-resources/class.gif
target/site/jacoco/jacoco-resources/down.gif
target/site/jacoco/jacoco-resources/greenbar.gif
target/site/jacoco/jacoco-resources/group.gif
target/site/jacoco/jacoco-resources/method.gif
target/site/jacoco/jacoco-resources/package.gif
target/site/jacoco/jacoco-resources/prettify.css
target/site/jacoco/jacoco-resources/prettify.js
target/site/jacoco/jacoco-resources/redbar.gif
target/site/jacoco/jacoco-resources/report.css
target/site/jacoco/jacoco-resources/report.gif
target/site/jacoco/jacoco-resources/session.gif
target/site/jacoco/jacoco-resources/sort.gif
target/site/jacoco/jacoco-resources/sort.js
target/site/jacoco/jacoco-resources/source.gif
target/site/jacoco/jacoco-resources/up.gif
target/site/jacoco/nl.amis.smeetsm.demoservice/DemoserviceApplication.html
target/site/jacoco/nl.amis.smeetsm.demoservice/DemoserviceApplication.java.html
target/site/jacoco/nl.amis.smeetsm.demoservice/index.html
target/site/jacoco/nl.amis.smeetsm.demoservice/index.source.html
target/site/jacoco/nl.amis.smeetsm.demoservice.controller/DemoRestController.html
target/site/jacoco/nl.amis.smeetsm.demoservice.controller/DemoRestController.java.html
target/site/jacoco/nl.amis.smeetsm.demoservice.controller/index.html
target/site/jacoco/nl.amis.smeetsm.demoservice.controller/index.source.html
target/surefire-reports/2024-09-14T16-25-13_037.dumpstream
target/surefire-reports/nl.amis.smeetsm.demoservice.DemoserviceApplicationTests.txt
target/surefire-reports/TEST-nl.amis.smeetsm.demoservice.DemoserviceApplicationTests.xml

settings.json
target/pmd.xml
target/spotbugsXml.xml
target/pmd/rulesets/001-maven-pmd-plugin-default.xml
target/reports/pmd.html
target/reports/css/apache-maven-fluido-2.0.0-M9.min.css
target/reports/css/print.css
target/reports/css/site.css
target/reports/fonts/glyphicons-halflings-regular.eot
target/reports/fonts/glyphicons-halflings-regular.svg
target/reports/fonts/glyphicons-halflings-regular.ttf
target/reports/fonts/glyphicons-halflings-regular.woff
target/reports/images/accessories-text-editor.png
target/reports/images/add.gif
target/reports/images/apache-maven-project-2.png
target/reports/images/application-certificate.png
target/reports/images/contact-new.png
target/reports/images/document-properties.png
target/reports/images/drive-harddisk.png
target/reports/images/fix.gif
target/reports/images/icon_error_sml.gif
target/reports/images/icon_help_sml.gif
target/reports/images/icon_info_sml.gif
target/reports/images/icon_success_sml.gif
target/reports/images/icon_warning_sml.gif
target/reports/images/image-x-generic.png
target/reports/images/internet-web-browser.png
target/reports/images/network-server.png
target/reports/images/package-x-generic.png
target/reports/images/remove.gif
target/reports/images/rss.png
target/reports/images/update.gif
target/reports/images/window-new.png
target/reports/images/logos/build-by-maven-black.png
target/reports/images/logos/build-by-maven-white.png
target/reports/images/logos/maven-feather.png
target/reports/images/profiles/pre-release.png
target/reports/images/profiles/retired.png
target/reports/images/profiles/sandbox.png
target/reports/img/glyphicons-halflings-white.png
target/reports/img/glyphicons-halflings.png
target/reports/js/apache-maven-fluido-2.0.0-M9.min.js
target/surefire-reports/2024-09-14T17-56-25_690.dumpstream
.idea/.gitignore
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/libraries/spring_boot_demo_0_0_1_SNAPSHOT.xml
reports/checkstyle/checkstyle.xml
src/main/main.iml
src/test/test.iml
